.stack {
    max-width: 1200px;
    border: 2px solid gray;
    border-radius: 10px;
}

#party-name-field {
    font-size: larger;
    font-weight: bold;
}

#title-field {
    flex-direction: row;
}

.scrollable-list {
    max-height: 400px; /* Set your desired max height */
    overflow-y: auto;
}
