#root {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box; /* Ensures padding does not add to the width or height */
}
